# ECE324: Assignment 3

Aman Bhargava
1005189733

In [3]:
##############
# IMPORT BOX #
##############
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import torch
import torch.nn as nn

### 3.1: Initial Data Tasks:
- [x] Take a gander at `adult.csv`.
- [x] Use `pd.read_csv()` to read the `adult.csv` data into `data`.

In [4]:
data = pd.read_csv('data/adult.csv')

### 3.2: Sanity Checks:
- [x] Print the `.shape` field of the dataframe.
- [x] Print the `.columns` field of the dataframe (column names).
- [x] Print the `.head()` of the dataframe.
- [x] Use the `data['income'].value_counts()` to determine the number of high and low income earners.

In [9]:
print('Shape of dataframe: {}'.format(data.shape))
print('Columns of dataframe: {}'.format(data.columns))
print('Number of high and low-income individuals:')
data['income'].value_counts()

Shape of dataframe: (48842, 15)
Columns of dataframe: Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')
Number of high and low-income individuals:

<=50K    37155
>50K     11687
Name: income, dtype: int64

In [8]:
print('Head of dataframe:')
data.head()

Head of dataframe:

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

### 3.3: Cleaning:
- [x] Missing values are indicated by the "?" string. Figure out **how many missing values** there are.
    - [x] Do this by iterating over the columns and use the `.isin("?").sum()` function.
- [x] Remove any row that has â‰¥1 "?" value. Use `[data[data[column != value]]]`
- [x] Print out the shape of the dataset.

In [21]:
num_question_marks = 0
for column in data.columns: 
    num_question_marks += data.isin({column: ["?"]}).sum().sum()

print("The number of question marks is: {}".format(num_question_marks))

The number of question marks is: 6465

In [23]:
for column in data.columns:
    data = data[data[column] != "?"]

In [24]:
print("The new shape of the cleaned data is: {}".format(data.shape))

The new shape of the cleaned data is: (45222, 15)

### 3.4: Balancing the Dataset
- [x] Use `DataFrame.sample` function to balance the dataset. 
    - [x] Use the `random_state` argument to ensure same results each time.

In [30]:
num_from_each = min(data['income'].value_counts())
random_seed = 314

high_income_set = data[data['income'] == ">50K"].sample(n=num_from_each, random_state=random_seed)
low_income_set = data[data['income'] == "<=50K"].sample(n=num_from_each, random_state=random_seed)

data = pd.concat([high_income_set, low_income_set])
data['income'].value_counts()

>50K     11208
<=50K    11208
Name: income, dtype: int64

### 3.5: Visualization and Understanding
- [ ] Use the `.describe()` function in the DataFrame class to determine statistics on data.
- [ ] Use `verbose_print` method. Ensure the following information is there.
    - [ ] Count (number of samples with non-null values)
    - [ ] Mean
    - [ ] Standard deviation
    - [ ] Minimum
    - [ ] Lowest 25% of the field.
- [ ] Print the number of times each value of the **categorical** features occur in the dataset.
    - [ ] Use `pie_chart` from `util.py` to visualize the first 3 categorical features using pie charts.
    - [ ] Include these plots in your final report.
- [ ] Use the `binary_bar_chart` method to plot the binary bar graph for the first 3 categorical features.
    - [ ] Include charts in the report.

In [31]:
data.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,22416.000000,2.241600e+04,22416.000000,22416.000000,22416.000000,22416.000000
mean,40.475107,1.891181e+05,10.605327,2066.442853,122.727159,42.624019
std,12.638850,1.045542e+05,2.593419,10532.908953,475.851448,11.856295
min,17.000000,1.376900e+04,1.000000,0.000000,0.000000,1.000000
25%,31.000000,1.179062e+05,9.000000,0.000000,0.000000,40.000000
50%,40.000000,1.778580e+05,10.000000,0.000000,0.000000,40.000000
75%,49.000000,2.364150e+05,13.000000,0.000000,0.000000,50.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,3683.000000,99.000000